<div class="cookie-banner">
    <button class="cookie-banner-close" style="background-image: url(&quot;https://cdn.cookielaw.org/logos/static/ot_close.svg&quot;);" aria-label="Close"></button>

    <div class="cookie-banner-text">
        By clicking “Accept All Cookies”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts.
    </div>

    <div class="cookie-banner-buttons">
        <button class="btn reverse cookie-banner-button cookie-banner-button-accept">Accept All Cookies</button>
        <button class="btn reverse cookie-banner-button cookie-banner-button-reject">Reject All</button>
        <button class="btn cookie-banner-button cookie-banner-button-settings">Cookies settings</button>
    </div>
</div>

<script>
    // const cookieInterval = setInterval(() => {
    //     const originalCookieBanner = document.querySelector('#onetrust-banner-sdk');
    //     const newCookieBanner = document.querySelector('.cookie-banner');

    //     if (originalCookieBanner && newCookieBanner && originalCookieBanner.style.visibility !== 'hidden') {
    //         newCookieBanner.classList.add('open');
    //     } else {
    //         newCookieBanner.classList.remove('open');
    //     }
    // }, 1000);

    // const closeButton = document.querySelector('.cookie-banner-close');
    // closeButton.addEventListener('click', () => {
    //     const cookieBanner = document.querySelector('.cookie-banner');
    //     cookieBanner.classList.remove('open');
    //     const originalCookieClose = document.querySelector('.banner-close-button.ot-close-icon')
    //     originalCookieClose.click();
    // });

    // const acceptCookiesButton = document.querySelector('.cookie-banner-button-accept');
    // acceptCookiesButton.addEventListener('click', () => {
    //     const cookieBanner = document.querySelector('.cookie-banner');
    //     cookieBanner.classList.remove('open');
    //     const originalCookieAccept = document.querySelector('#onetrust-accept-btn-handler');
    //     originalCookieAccept.click();
    // });

    // const rejectCookiesButton = document.querySelector('.cookie-banner-button-reject');
    // rejectCookiesButton.addEventListener('click', () => {
    //     const cookieBanner = document.querySelector('.cookie-banner');
    //     cookieBanner.classList.remove('open');
    //     const originalCookieReject = document.querySelector('#onetrust-reject-all-handler');
    //     originalCookieReject.click();
    // });

    // const settingsCookiesButton = document.querySelector('.cookie-banner-button-settings');
    // settingsCookiesButton.addEventListener('click', () => {
    //     const originalCookieSettings = document.querySelector('#onetrust-pc-btn-handler');
    //     originalCookieSettings.click();
    // });

</script>