{% comment %}Snippet Parameters -->{% endcomment %}
{%- assign items = items | default: grid -%}
{% comment %}<-- Snippet Parameters{% endcomment %}

{% assign grid_limit = grid_limit | default: 48 %}
{% assign grid_align = grid_align | default: 'center' %}
{% assign grid_items_per_row = grid_items_per_row | default: 'small-1, medium-3, large-4' | split: ', ' %}

<!-- Grid item limit: {{ grid_limit }} -->

{% capture grid_classes %}
  Grid
  {{ grid_align | handle | capitalize | prepend: 'Grid--align' }}
  {% for suffix in grid_items_per_row %}
  {{ suffix | prepend: 'Grid--itemsPerRow-' | append: ' ' }}
  {% endfor %}
{% endcapture %}

<div class="{{ grid_classes | strip_newlines | strip }}">
  {% for item in items limit: grid_limit %}
    <div class="Grid-item">
      {% render 'grid-item', grid_item: item %}
    </div>
  {% endfor %}
</div>
