<svg aria-labelledby="title86" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <title id="title86">Pinterest icon</title>
  <path d="M27.574 42.326C25.891 51.139 23.84 59.587 17.756 64c-1.875-13.318 2.755-23.318 4.909-33.936-3.67-6.176.442-18.598 8.176-15.536 9.52 3.763-8.243 22.95 3.68 25.35 12.451 2.499 17.533-21.6 9.811-29.437C33.18-.881 11.865 10.175 14.489 26.383c.637 3.962 4.73 5.162 1.635 10.63-7.139-1.581-9.27-7.213-8.995-14.72C7.571 10.005 18.166 1.407 28.796.213c13.443-1.507 26.061 4.938 27.805 17.581 1.962 14.275-6.067 29.738-20.445 28.624-3.898-.304-5.53-2.237-8.582-4.093z"/>
</svg>
