<svg aria-labelledby="title72"
  role="img"
  width="48"
  height="49"
  viewBox="0 0 48 49"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true">
  <title id="title72">Play button icon</title>
  <g id="Subtract" opacity="0.6">
    <path
      id="Subtract_2"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M24 48.1772C37.2549 48.1772 48 37.4321 48 24.1772C48 10.9224 37.2549 0.177246 24 0.177246C10.7452 0.177246 0 10.9224 0 24.1772C0 37.4321 10.7452 48.1772 24 48.1772ZM18.4615 35.2542L33.2308 24.1772L18.4616 13.1003L18.4615 35.2542Z"
      fill="white" />
  </g>
</svg>
