<svg
  aria-labelledby="title47"
  role="img"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <title id="title47">House icon</title>

  <circle
    cx="11.6863"
    cy="11.3137"
    r="8"
    transform="rotate(-45 11.6863 11.3137)"
    stroke="black"
    stroke-width="1.5" />
  <path
    d="M16.9287 16.9705L22.5856 22.6273"
    stroke="black"
    stroke-width="1.5" />
</svg>