<svg aria-labelledby="title84" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 64">
  <title id="title84">Facebook icon</title>
  <path d="M34.25.429v9.429h-5.607q-3.071 0-4.143 1.286t-1.071 3.857v6.75h10.464L32.5 32.322h-9.071v27.107H12.5V32.322H3.393V21.751H12.5v-7.786q0-6.643 3.714-10.304T26.107 0q5.25 0 8.143.429z"/>
</svg>
