<svg
  aria-hidden="true"
  aria-labelledby="title43"
  role="img"
  width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title id="title43">Person icon</title>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.87744 12.0955H20.3774V21.2455H18.8774V13.5955H4.37744V21.2455H2.87744V12.0955Z" fill="black"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6361 2.31976C9.83638 2.31976 8.37744 3.7787 8.37744 5.5784C8.37744 7.37809 9.83638 8.83704 11.6361 8.83704C13.4358 8.83704 14.8947 7.37809 14.8947 5.5784C14.8947 3.7787 13.4358 2.31976 11.6361 2.31976ZM6.87744 5.5784C6.87744 2.95028 9.00796 0.819763 11.6361 0.819763C14.2642 0.819763 16.3947 2.95028 16.3947 5.5784C16.3947 8.20652 14.2642 10.337 11.6361 10.337C9.00796 10.337 6.87744 8.20652 6.87744 5.5784Z" fill="black"/>
  </svg>
