<svg
  aria-labelledby="title41"
  role="img"
  width="12"
  height="7"
  viewBox="0 0 12 7"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <title id="title41">Arrow down icon</title>

  <path
    d="M1.00195 0.813476L6.00195 5.81348L11.002 0.813476"
    stroke="black"
    stroke-width="1.5" />
</svg>