<svg aria-labelledby="title83" aria-hidden="true" role="img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
  <title id="title83">YouTube logo</title>
<style type="text/css">
 .st0{fill:#FFFFFF;}
 .st1{fill:none;}
</style>
<g>
 <path class="st0" d="M34.1,12.9c-0.3-1.3-1.3-2.3-2.6-2.6C29.2,9.7,20,9.7,20,9.7s-9.2,0-11.5,0.6c-1.3,0.3-2.3,1.3-2.6,2.6
   C5.3,15.2,5.3,20,5.3,20s0,4.8,0.6,7.1c0.3,1.3,1.3,2.3,2.6,2.6c2.3,0.6,11.5,0.6,11.5,0.6s9.2,0,11.5-0.6c1.3-0.3,2.3-1.3,2.6-2.6
   c0.6-2.3,0.6-7.1,0.6-7.1S34.7,15.2,34.1,12.9z M17.1,24.4v-8.8l7.6,4.4L17.1,24.4z"/>
 <g>
   <rect class="st1" width="40" height="40"/>
 </g>
</g>
</svg>
