<svg aria-labelledby="title50-{{class}}" role="img" width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title id="title50-{{class}}">Arrow right</title>
    <path d="M9 21.6274L17 13.6274L9 5.62744" stroke="black" />
</svg>