<svg
  aria-labelledby="title36"
  role="img"
  viewBox="0 0 64 64"
  xmlns="http://www.w3.org/2000/svg">
  <title id="title36">Close icon</title>

  <path d="M50.625 17.125L35.75 32l14.875 14.875-3.75 3.75L32 35.75 17.125 50.625l-3.75-3.75L28.25 32 13.375 17.125l3.75-3.75L32 28.25l14.875-14.875z" />
</svg>