<svg aria-labelledby="title67" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <title id="title67">Litecoin icon</title>

  <path
    d="M32 6.4C17.883 6.4 6.4 17.883 6.4 32S17.883 57.6 32 57.6 57.6 46.117 57.6 32 46.117 6.4 32 6.4zm9.801 37.815H21.614l2.048-7.899-2.779 1.024.731-3.145 2.853-1.024 3.365-13.312h8.192l-2.853 10.094 3.291-1.243-.951 3.218-3.291 1.17-1.829 6.437h12.654l-1.243 4.681z" />
</svg>
