<svg aria-labelledby="title48" role="img" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title id="title48">Waranty icon</title>

  <g clip-path="url(#clip0_1527_22655)">
    <path
      d="M14.6376 4.2874C12.013 4.2874 9.67105 3.21737 8.16695 1.55176C8.11647 1.55176 8.05591 1.55176 8.00543 1.55176C7.95496 1.55176 7.89439 1.55176 7.84392 1.55176C6.32972 3.21737 3.99786 4.2874 1.37326 4.2874C1.26222 4.2874 1.15117 4.2874 1.03004 4.2874C0.85843 4.37826 0.767578 4.43882 0.767578 4.43882V13.9682C0.767578 14.8161 1.46411 17.8041 8.01553 20.0653C8.066 20.1057 15.2534 16.6533 15.2534 14.2003V4.42873C15.2534 4.42873 15.1524 4.36816 14.9909 4.27731C14.8799 4.27731 14.7688 4.27731 14.6477 4.27731L14.6376 4.2874Z"
      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M4.73438 11.2015L6.91482 13.1902L11.3867 8.31445" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  </g>
  <defs>
    <clipPath id="clip0_1527_22655">
      <rect width="16" height="20.0278" fill="white" transform="translate(0 0.78418)" />
    </clipPath>
  </defs>
</svg>