<svg aria-labelledby="title66" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 64">
  <title id="title66">JCB icon</title>

  <path
    d="M64.688 26.675q-4.75-2.5-9.813-2.875-5.313-.438-8.313 1.969t-3 7.031 3 7.031 8.313 1.969q4.938-.375 9.813-2.875v5.563q-5.25 1.313-10.313 1.563-5 .188-8.906-.438t-6.344-1.844-4.031-3-2.219-3.75-.625-4.219q0-2.875 1.063-5.219t3.469-4.344 6.906-2.969 10.688-.719q2.25.125 4.813.5t4.063.75l1.438.313v5.563zM18.313 20.3h11.25v15.125q0 10.688-16.188 10.688-3.313 0-6.656-.406t-5.031-.781L0 44.488v-5.563Q6.063 41.8 11.25 41.8q3.313 0 5.188-1.75t1.875-4.625V20.3zm75.062 12.187q3.313.313 5.406 1.969t2.094 4.344q0 1.938-1.094 3.438t-2.969 2.281-4.25.781h-24.25v-25h23.75q3.188.125 5.219 1.75t2.031 4.375q0 2.25-1.563 3.906t-4.375 2.094v.063zm-14.687-1.999h6.875q.625 0 .75-.063 1.125-.188 1.875-1.031t.75-2.094q0-1.188-.75-2.031t-1.875-1.031q-.25-.125-.75-.125h-6.875v6.375zm7.562 10.749q.688 0 .813-.063 1.188-.188 1.938-1.094t.75-2.219q0-.875-.344-1.594t-.938-1.156-1.406-.625l-.813-.063h-7.563v6.813h7.563z" />
</svg>