<svg role="img" aria-hidden="true" width="18" height="25" viewBox="0 0 18 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title id="title45">Shopping bag icon</title>
  <path d="M1 6.56734H17V20.9673H1V6.56734Z" stroke="black" stroke-width="1.5"/>
  <path d="M5 9.58505V5.03267C5 2.82353 6.79086 1.03267 9 1.03267C11.2091 1.03267 13 2.82353 13 5.03267V9.58505" stroke="black" stroke-width="1.5"/>
</svg>
