<svg
  width="20"
  height="15"
  viewBox="0 0 20 15"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="false"
  role="img"
  focusable="false"
>
  {% if title %}
    <title>{{ title }}</title>
  {% endif %}
  <path d="M1.54297 8.37744L6.79297 13.6274L18.793 1.62744" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
