<svg aria-labelledby="title82" aria-hidden="true" role="img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
  <title id="title82">Twitter logo</title>
<style type="text/css">
 .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
 .st1{fill:none;}
</style>
<g>
 <path class="st0" d="M16.5,20.9L6.7,8H15l5.9,7.7L27.5,8h4l-8.7,10.3L33.3,32H25l-6.5-8.6L11.2,32H7.1L16.5,20.9z M26.1,29.7
   L11.4,10.3h2.5l14.7,19.4H26.1z"/>
 <g>
   <rect class="st1" width="40" height="40"/>
 </g>
</g>
</svg>
