<svg aria-labelledby="title59" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 64">
  <title id="title59">Diners Club icon</title>

  <path d="M32.5 10q6.063 0 11.281 2.75t8.469 7.906 3.25 11.469q0 5.875-3.219 10.938t-8.531 7.969-11.25 2.906H22.125q-5.938 0-11.063-2.906t-8.094-7.969-2.969-10.938q0-6.375 3-11.469t8.031-7.875T22.124 10h10.375zM22.188 52.063q5.5 0 10.125-2.688t7.313-7.313 2.688-10.125q0-5.438-2.688-10.063t-7.313-7.313-10.125-2.688q-5.438 0-10.063 2.688t-7.313 7.313-2.688 10.063q0 5.5 2.688 10.125t7.313 7.313 10.063 2.688zm-4.563-8.25Q14 42.438 11.75 39.188t-2.313-7.25q.063-4 2.344-7.281t5.844-4.594v23.75zm9.188-23.75q3.563 1.313 5.844 4.594t2.281 7.281-2.281 7.25-5.844 4.625v-23.75z"/>
</svg>
