<svg
  aria-labelledby="title33"
  aria-hidden="trua"
  role="img"
  viewBox="0 0 20 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <title id="title33">Arrow rigth</title>

  <path
    d="M0 8.12763H18M18 8.12763L11 1.12744M18 8.12763L11 15.1274"
    stroke="white"
    stroke-width="1.5" />
</svg>