<svg aria-labelledby="title61" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <title id="title61">Dogecoin icon</title>

  <path
    d="M32 6.4C17.883 6.4 6.4 17.883 6.4 32S17.883 57.6 32 57.6 57.6 46.117 57.6 32 46.117 6.4 32 6.4zm11.849 31.159c-.585 1.829-1.536 3.291-2.633 4.389-.878.878-2.048 1.536-3.511 1.975-1.097.366-2.56.512-4.462.512h-9.435V33.902h-4.389v-3.657h4.389V19.566h9.143c2.048 0 3.657.146 4.754.439 1.463.439 2.706 1.17 3.73 2.267s1.829 2.414 2.341 4.023c.512 1.609.805 3.511.805 5.851 0 2.121-.219 3.877-.731 5.413z" />
  <path
    d="M37.486 25.198c-.585-.585-1.39-.951-2.341-1.17-.731-.146-2.048-.219-4.096-.219h-2.267v6.437h4.242v3.657h-4.242v6.363h3.73c1.39 0 2.414-.073 2.999-.219.805-.219 1.463-.512 2.048-1.024.512-.512.951-1.317 1.317-2.414s.512-2.633.512-4.535c0-1.902-.146-3.365-.512-4.462-.293-1.024-.805-1.829-1.39-2.414z" />
</svg>