<svg  aria-labelledby="titleDiscover"
    role="img" width="61" height="11" viewBox="0 0 61 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title id="titleDiscover">Discover by category stars</title>
  <path d="M5.27722 0.214844L6.7449 3.74356L10.5544 4.04897L7.65197 6.53524L8.53872 10.2527L5.27722 8.2606L2.01572 10.2527L2.90247 6.53524L0 4.04897L3.80954 3.74356L5.27722 0.214844Z" fill="white"/>
  <path d="M17.8314 0.214844L19.2991 3.74356L23.1086 4.04897L20.2062 6.53524L21.0929 10.2527L17.8314 8.2606L14.5699 10.2527L15.4567 6.53524L12.5542 4.04897L16.3637 3.74356L17.8314 0.214844Z" fill="white"/>
  <path d="M30.3861 0.214844L31.8538 3.74356L35.6633 4.04897L32.7609 6.53524L33.6476 10.2527L30.3861 8.2606L27.1246 10.2527L28.0114 6.53524L25.1089 4.04897L28.9184 3.74356L30.3861 0.214844Z" fill="white"/>
  <path d="M42.9403 0.214844L44.408 3.74356L48.2175 4.04897L45.3151 6.53524L46.2018 10.2527L42.9403 8.2606L39.6788 10.2527L40.5656 6.53524L37.6631 4.04897L41.4726 3.74356L42.9403 0.214844Z" fill="white"/>
  <path d="M55.495 0.214844L56.9627 3.74356L60.7722 4.04897L57.8697 6.53524L58.7565 10.2527L55.495 8.2606L52.2335 10.2527L53.1202 6.53524L50.2178 4.04897L54.0273 3.74356L55.495 0.214844Z" fill="white"/>
  </svg>