<section>
  <div class="column row">

    <h1 class="PageNotFound-title o-pageTitle">
      {{ 'general.404.title' | t }}
    </h1>

    <p class="o-pageSubtext o-rte">
      {{ 'general.404.subtext_html' | t }}
    </p>

  </div>
</section>

{% schema %}
  {
    "name": "404",
    "class": "PageNotFound-section",
    "enabled_on": { "templates": ["404"] },
    "settings": [],
    "presets": [{
      "name": "404",
      "settings": {}
    }]
  }
{% endschema %}
