<div class="BlankPage">
  <div class="column row">

    <h1 class="o-pageTitle">
      {{ 'general.blank_page.title' | t }}
    </h1>

    <div class="o-pageSubtext o-rte">
      {{ 'general.blank_page.subtext_html' | t }}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Blank Page",
    "class": "BlankPage-section",
    "enabled_on": { "templates": ["page"] },
    "settings": [],
    "presets": [{
      "name": "Blank Page",
      "settings": {}
    }]
  }
{% endschema %}
