{%- paginate search.results by 1000 -%}
{% liquid
  assign results = search.results
  assign results_products = results | where: "object_type", "product"
  assign results_articles = results | where: "object_type", "article"
%}
{%- endpaginate -%}

{% if search.performed %}
  {%- for product in results_products limit: 1 -%}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div id="customizer_product_id">{{current_variant.id}}</div>
    <div id="customizer_product_price">{{current_variant.price | money}}</div>
    <div id="customizer_product_quantity">{{current_variant.inventory_quantity}}</div>
  {%- endfor -%}
{% endif %}

{% schema %}
  {
    "name": "Customizer Get Id",
    "settings": []
  }
{% endschema %}
