{%- liquid
    assign show_breadcrumbs = section.settings.show_breadcrumbs
    assign color_palette = section.settings.color_palette
    assign heading = section.settings.heading 
    assign text = section.settings.text
    assign desktop_image = section.settings.desktop_image
    assign mobile_image = section.settings.mobile_image
    assign image_as_background = section.settings.image_as_background
    assign banner_height = section.settings.banner_height
-%}
 
<section class="ImageTextBanner{% if banner_height == 'small' %} smallBanner{% endif %}{% if color_palette == 'dark' %} dark{% endif %}">
    
    {% if image_as_background %}
        <div class="ImageTextBanner-overlay" style="background-color:{% if color_palette == 'dark' %}#000000{% else %}#ffffff{% endif %}"></div>
    {% endif %}

    <div class="ImageTextBanner-container {% if image_as_background %}withBackground{% endif %}">
        {% if show_breadcrumbs %}
            {% render 'breadcrumbs' %}
        {% endif %}

        <div class="ImageTextBanner-text">
            {% if heading %}
                <h1 class="ImageTextBanner--title">{{ heading }}</h1>
            {% endif %}
            {% if text %}
                {{ text }}
            {% endif %}
        </div>
    </div>

    {% if image_as_background == false %}
    <div class="ImageTextBanner-imageWrapper">
    {% endif %}

        {%- capture image_sizes -%}
            {%- render 'print-image-sizes' with desktop_image -%}
        {%- endcapture -%}
        <div class="ImageTextBanner-image imageDesktop {% if image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ image_sizes }}" data-sizes="auto"></div>
    
        {%- capture mobile_image_sizes -%}
            {%- render 'print-image-sizes' with mobile_image -%}
        {%- endcapture -%}
        <div class="ImageTextBanner-image imageMobile {% if mobile_image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ mobile_image_sizes }}" data-sizes="auto"></div>
    
    {% if image_as_background == false %}
    </div>
    {% endif %}

</section>

{% schema %}
  {
  "name": "Image with Text Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show Breadcrumbs",
      "default": true
    },
    {
      "type": "select",
      "id": "color_palette",
      "label": "Color Palette",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Banner height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "image_as_background",
      "label": "Image as background",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Text with Image Banner"
    }
  ]
}  
{% endschema %}