{%- paginate collections by 12 -%}
  <div class="ListCollections">
    {%- liquid
      if collections.size > 0
        render 'grid', items: collections, grid_items_per_row: 'small-1, medium-3, large-4'
      endif -%}
  </div>
  {%- render 'pagination', paginate: paginate -%}
{%- endpaginate -%}

{% schema %}
  {
    "name": "List Collections",
    "class": "ListCollections-section",
    "enabled_on": {
      "templates": ["list-collections"]
    },
    "settings": [],
    "presets": [{
      "name": "List Collections",
      "settings": {}
    }]
  }
{% endschema %}
