{%- liquid
  assign header = section.settings.title | default: 'You may also like'
  assign availalble = 1
  assign sr_descriptive_text = section.settings.sr_descriptive_text
-%}
<section class="YouMayAlsoLike">
  {%- if header and header != blank -%}
    <h2 class="YouMayAlsoLike-header">
      {{ header }}
    </h2>
  {%- endif -%}

  <div role="region" aria-label="carousel" class="swiper js-ymal-carousel YouMayAlsoLike-carousel">
    {% if sr_descriptive_text != blank %}
      <p class="sr-only">{{ sr_descriptive_text }}</p>
    {% endif %}
    <div class="swiper-wrapper YouMayAlsoLike-wrapper">
      {%- assign coll_help = section.settings.coll | default: '' -%}
      {%- assign coll = collections[coll_help] | default: '' -%}
      {%- for prod in coll.products -%}
        {%- if prod.available and product.id != prod.id -%}
          <div class="swiper-slide YouMayAlsoLike-slide js-ymal-slide swiper-lazy" data-collection="{{ coll.handle }}">
            {% render 'product-card', product: prod %}
          </div>
          {%- liquid
            assign availalble = availalble | plus: 1
            if availalble > 10
              break
            endif
          -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="YouMayAlsoLike-carousel-actions">
      <div class="YouMayAlsoLike-carousel-scrollbar-wrapper">
        <div class="swiper-scrollbar"></div>
      </div>
      <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'icon-arrow-prev' -%}</button>
      <button aria-label="Next slide" class="swiper-button-next">{%- render 'icon-arrow-next' -%}</button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "You May Also Like",
  "class": "js-smp-reload js-product-ymal YouMayAlsoLike-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "coll",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products",
      "min": 4,
      "max": 12,
      "step": 1,
      "unit": "P",
      "label": "Products to show",
      "default": 6
    },
    {
      "type": "header",
      "content": "Accessibility"
    },
    {
      "type": "text",
      "id": "sr_descriptive_text",
      "label": "Descriptive text for screen readers",
      "default": "This is a carousel displaying products you may also like. Use the next and previous buttons to navigate through the slides. Each slide contains a product card with details about the product.",
      "info": "This text will be read by screen readers to describe the carousel. Leave blank to use default text."
    }
  ],
  "presets": [
    {
      "name": "You May Also Like",
      "settings": {}
    }
  ]
}
{% endschema %}
