{% liquid
  assign display_technical_details = false
  for block in section.blocks
    if block.settings.value != blank
      assign display_technical_details = true
      break
    endif
  endfor
  assign navigation_id = section.settings.navigation_id | default: section.name | handleize
%}
{%- if display_technical_details == true -%}
  <div class="js-navigation-id-{{ navigation_id }}">
      <section class="TechnicalDetails-wrapper">
          {%- for block in section.blocks -%}
            {%- liquid
              assign technicaldetails_image = false
              unless block.settings.icon == blank
              capture technicaldetails_image_sizes
                  render 'print-image-sizes' with block.settings.icon
              endcapture
              assign technicaldetails_image = true
          endunless
          -%}
              {% if block.settings.value != blank %}
              <div class="TechnicalDetails-box">
                {%- if technicaldetails_image == true -%}
                  <div class="TechnicalDetails-image lazyload" data-bgset="{{ technicaldetails_image_sizes }}" data-sizes="auto"></div>
              {%- endif -%}
                  <div class="TechnicalDetails-specs">
                      <h4>{{ block.settings.title }}</h4>
                      <p>{{ block.settings.value }}</p>
                  </div>
              </div>
              {% endif %}
          {%- endfor -%}
      </section>
    </div>
  </div>
{%- endif -%}
{%- schema %}
{
  "name": "Technical Details",
  "tag": "section",
  "class": "js-smp-reload TechnicalDetails",
  "settings":[
    {
      "type": "text",
      "id": "navigation_id",
      "label": "Navigation anchor",
      "default": "technical-details"
    }
  ],
  "blocks": [
    {
      "type": "techincal",
      "name": "Technical Detail",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        }
      ]
    }
],
"presets": [{
  "name": "Technical Details",
  "settings": {}
}]
}
{% endschema -%}
