<svg
  aria-labelledby="title29"
  role="img"
  xmlns='http://www.w3.org/2000/svg'
  width='12'
  height='8'
  viewBox='0 0 12 8'
  fill='none'>
  <path d="M1 3.8L4.47826 7L11 0.999999" stroke="white" />
  <title id="title29">Check</title>
</svg>
