<section class="twoImages">

    {% for blocks in section.blocks %}
        {% assign image = blocks.settings.image %}
        {% assign link = blocks.settings.link %}
        {% if image != 'blank' %}
        {% if link != blank %}
          <a href="{{link}}" class="twoImages-imageWrapper">
            {%- capture image_sizes -%}
                {%- render 'print-image-sizes' with image -%}
            {%- endcapture -%}
            <div class="twoImages-image {% if image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ image_sizes }}" data-sizes="auto"></div>
          </a>
        {% else %}
          <div class="twoImages-imageWrapper">
            {%- capture image_sizes -%}
                {%- render 'print-image-sizes' with image -%}
            {%- endcapture -%}
            <div class="twoImages-image {% if image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ image_sizes }}" data-sizes="auto"></div>
          </div>
        {% endif %}
        {% endif %}
    {% endfor %}

</section>

{% schema %}
  {
  "name": "Two Columns Images",
  "settings": [],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Columns Images"
    }
  ]
}  
{% endschema %}